html {
  font-family: sans-serif;
  font-feature-settings: normal;
}

body { 
  /* background-image: url(../images/swirls-smaller.png);*/
  background-image: url(../images/landscape_smaller.jpg);
  /* background-repeat: repeat;*/
  background-repeat: no-repeat;
 /* background-size: contain;*/
  background-attachment: fixed;
  background-size: 100% 100%;
  opacity: 0.85;
}

h1 { font-size: 135%; font-weight: bold; }
h2 { font-size: 125%; font-weight: bold; }
h3 { font-size: 115%; font-weight: bold; }
h4 { font-size: 105%; font-weight: bold; }
h5 { font-size: 100%; font-weight: bold; }


p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ol {
  list-style: decimal;
  padding-left: 1em;
}
.soundcloud-list h3 {
  font-size: 0.85em;
}
.youtube-list h3 {
  font-size: 0.85em;
}

a {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
 }
 
a:hover {
  color: #664400;
  text-decoration: underline;
}

#header {
  opacity: 0.75;
}
.wrapper{
  width:100%;
  position:relative;
  background:#000;
  opacity: 0.95;
}
.carousel-cell {
  width: 100%; /* full width */
  height: 160px; /* height of carousel */
  margin-right: 10px;
}
@media screen and ( min-width: 768px ) {
  /* half-width cells for larger devices */
  .carousel-cell { height: 320px; }
}
@media screen and ( min-width: 1024px ) {
  /* half-width cells for larger devices */
  .carousel-cell { height: 100vh; }
}

.bg{
  position:absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  background-image:url("../images/kern-ramble-band2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-item:center;
  overflow:hidden;
  filter: blur(14px);
  overflow:hidden;
}
figure{
  position:absolute;
  top:0;
  bottom:0;
  right:50%;
  transform:translate(50%);
  overflow:hidden;
  width:70%;
}
.image-normal {
  width:100%;
  height:100%;
  object-fit:cover;
  object-position: center;
}
