html {
  font-family: sans-serif;
  font-feature-settings: normal;
}

body { 
  background-image: url(../images/swirls-smaller.png);
  background-repeat: repeat;
  background-size: contain;
}

h1 { font-size: 135%; font-weight: bold; }
h2 { font-size: 125%; font-weight: bold; }
h3 { font-size: 115%; font-weight: bold; }
h4 { font-size: 105%; font-weight: bold; }
h5 { font-size: 100%; font-weight: bold; }


p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ol {
  list-style: decimal;
  padding-left: 1em;
}
.soundcloud-list h3 {
  font-size: 0.85em;
}
.youtube-list h3 {
  font-size: 0.85em;
}

a {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
 }
 
a:hover {
  color: #664400;
  text-decoration: underline;
 }
