<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Last-modified" content="0"/>
    <meta http-equiv="Cache-control" content="no-cache, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="verify-v1" content="tq0q5qkYZ6nOEjsAEybl4woK4+2UtX5x5+LP06UuWtg=" />
    <meta name="Description" content="Kern Ramble: Official Website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/output.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
 
    <title>{{ .Title }}</title>
  </head>
  
 <body class="bg-sky-100/10">
  <div id="container" class="md:container md:mx-auto px-4">
    <div id="header" class="flex pb-4 bg-blue-100 bg-opacity-50">
     <h1 id="logo" class="flex-auto">
        <div class="justify-center sm:px-12">
           <a href="/">
              <img class="p-1" src="/images/kern-ramble-text-sketch-small.png" alt="Kern Ramble log" />
           </a>
        </div>
      </h1>

     <nav class="flex-auto">
      <ul class="flex flex-row space-x-4">
        <li class="flex-1 p-4">
           <a href="/contact">Contact</a>
        </li>
        <li class="flex-1 p-4">
           <a href="/events">Events</a>
        </li>
      </ul>
    </nav>

  </div>


  <div id="content">
    {{- block "content" . }}{{- end }}
  </div><!-- end content -->
  </div><!-- end container -->

  {{ template "_internal/google_analytics_async.html" . }}

</body>
</html>




