{{ partial "header.html" . }}


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "MusicGroup",
  "url": "http://www.kernramble.com"
}
</script>

  <div class="col-md-6" itemscope itemtype="http://schema.org/MusicGroup">
    <div itemprop="name" class="hidden">Kern Ramble</div>

    <img src="/images/face_longer_smaller.png" alt="Picture of Kern Ramble (as wire sculpture)" width="500" >
    <p class="credit">Photo: Kathy Peticolas</p>
  </div>

  
   <div class="col-md-6">
 
    <ul class="list-group">       
        <li id="latest" class="list-group-item"><a href="/latest/" alt="Latest">Latest Recordings</a></li>
        <li id="music" class="list-group-item"><a href="/soundcloud/" alt="Music">SoundCloud Music</a></li>
        <li id="store" class="list-group-item"><a href="/youtube/" alt="Store">YouTube Music</a></li>
        <li id="contact" class="list-group-item"><a href="/contact/" alt="Contact">Contact Info</a></li>
      </ul>

  </div>

   


{{ partial "footer.html" }}


