{{ define "content" }}

<!--
https://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript
NOTE: i don't care about IE
-->
<script type="application/javascript">
window.onload = function(){

  const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

  const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

  // do the work...
  document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {

  const table = th.closest('table');
  const tbody = table.querySelector('tbody');
  Array.from(tbody.querySelectorAll('tr'))
    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
    .forEach(tr => tbody.appendChild(tr) );
  })));
};

</script>

<style>
table, th, td {
    border: 1px solid black;
}
th {
    cursor: pointer;
}
</style>

<h2>Songs</h2>
<div>Total Count: {{ len .Data.Pages }}</div>
{{ $recordings := slice }}

<table class="table-auto" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Album</th>
      <th>Written</th>
      <th>Latest</th>
    </tr>
  </thead>
  <tbody>
  {{ $.Scratch.Set "counter" 0 }}
  {{ range .Data.Pages.ByTitle }}
     {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    <tr data-number="{{$.Scratch.Get "counter"}}">
      <td>
        {{ if not .Params.Ignore }}*{{ end }}
      </td>
      <td><a href="{{ .Permalink }}">{{ .Params.Name }}</a></td>
      <td>{{ .Params.Album }}</td>
      <td>{{ .Params.Year }}</td>
      <td>
       {{ with .Params.Recordingz }}
          {{ $sorted := (sort  . "year" "desc") }}
          {{ range first 1 $sorted }}
            {{ .year }}
          {{ end }}
          {{ $recordings = $recordings | append . }}
      {{ end }}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>

<div>Total Recordings: {{ len $recordings }}</div>

<div id="covers" class="list-group-item">
  <a href="/covers/" alt="Covers">Covers</a>
</div>
  
{{ end }} 


